<ul id="gear-dropdown" class="gear-dropdown hidden">
	<li class="dropdown-inner-one">
		<ul class="editions">
			<h5 class="dropdown-subtitle">Edition</h5>
			<li><a href="#">CSS</a></li>
			<li><a href="#">HTML</a></li>
			<li><a href="#">Javascript</a></li>
			<li><a href="#">Ruby</a></li>
		</ul>
	</li>
	<li class="dropdown-inner-two">
		<h5 class="dropdown-subtitle">Help</h5>
		<ul class="help">
			<li><a href="#">FAQ</a></li>
			<li><a href="#">Contact Us</a></li>
		</ul>
	</li>
</ul>