<header class="main-nav">
	<nav class="left-nav">
		<ul>
			<li class="b2" id="sections-sidebar-btn">
				<i class="fa fa-bars"></i>
				<span>SECTIONS</span>
			</li>
			<li class="b2" id="search-modal-btn">
				<i class="fa fa-search"></i>
				<span>SEARCH</span>
			</li>
		</ul>
	</nav>
	<nav class="right-nav">
		<ul>
			<li><button class="b1" type="button">subscribe now</button></li>
			<li><button class="b1" type="button">log in</button></li>
			<li id="gear-dropdown-btn" class="gear-icon"><i class="fas fa-cog b2 gr"></i><%= render partial: "shared/gear_dropdown" %></li>
		</ul>
	</nav>
</header>