<header class="masthead">
  <nav class="language-nav">
    <ul>
      <li><a href="#">CSS</a></li>
      <li><a href="#">HTML</a></li>
      <li><a href="#">Javascript</a></li>
      <li><a href="#">Ruby</a></li>
    </ul> 
  </nav>
  <div>

  <img class="logo" src="assets/AA_Times_Logo.png">
  
  </div>
  <ul class="masthead-links">
    <li>Tuesday, October 18, 2016</li>
    <li><i class="far fa-newspaper"></i><span class="underline">Today’s Paper</span></li>
    <li><i class="fas fa-video"></i><span class="underline">Video</span></li>
    <li class="gray-out">77°F</li>
    <li class="gray-out">AAO <strong>+100%</strong></li>
  </ul>
</header>