<header class="programs">
    <nav class="locations_nav">
        <ul class="locations">
            <li class="gray-out">World</li>
            <li class="gray-out">San Francisco</li>
            <li class="gray-out">New York</li>
            <li class="gray-out">Bootcamp Prep</li>
            <li class="gray-out">Jumpstart</li>
            <li class="gray-out">Online</li>
            <li class="gray-out">Marketing</li>
            <li class="gray-out">Sales</li>
            <li class="gray-out">TalentMatch</li>
            <li class="gray-out">Alumni</li>
            <li class="underline">All</li>
        </ul>
    <nav>
</header>